.grid{
    width:560px;
    min-width: 560px;
    display:flex;
    flex-wrap: wrap;
    background: rgb(150, 60, 82, .5);
    padding: 5px;

}
.grid div{
    height:70px;
    width:70px;
    border-radius:50%;
}
.cen{
    display:flex;
    justify-content: center;
    align-items: center;
}